<!DOCTYPE html>
<!--
 * id 命名用underline “_”, class 命名用middleline "-" 
 -->
<html>
    <head>
        <meta http-equiv="content-type"  content="text/html; charset=utf-8" />
        <title>选词预览_匠心网络</title>
        <link rel="stylesheet" type="text/css" href="./css/reset.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">
        <link rel="stylesheet" type="text/css" href="./css/jquery-ui-1.9.2.custom.min.css">

        <script type="text/javascript" src="js/seajs/sea.js,shim.js"></script>
        <script type="text/javascript" src="js/seajs-config.js"></script>
    </head>
    <body>
        <header>
            <div id="header" class="header" >
                <h1>
                    <a href="http://www.jiangxintech.com">
                        <img src="./images/logo.png" alt="logo" title="杭州匠心网络" />
                    </a>
                    <span>匠心直通车&nbsp;&nbsp;选词预览</span>
                </h1>
                <div class="warn-wrap">
                    <ul class="warn">
                        <li>注意： 本软件仅供选词效果预览，暂时免费无限制使用。 同时因为词量可能很大，强烈建议使用谷歌浏览器。</li>
                    </ul>
                </div>
                <div>
                    <fieldset class="search-wrap">
                        <form id="search_form" class="search-form">
                            <label for="search_box"> 宝贝链接:</label>
                            <input id="search_box" class="search-box" type="text" />
                            <input id="prev_value" type="hidden" />
                            <input id="select_view_btn" type="button" value="选词预览&nbsp;&gt;&gt;" class="btn" />
                        </form>
                    </fieldset>
                </div>
            </div>
        </header>
        <section id="bd" class="keywords-main none">
            <div id="item_wrap">
                <!-- 宝贝属性 -->
                <div id="item" class="item"></div>
                <!-- 宝贝属性 结束 -->
            </div>

            <div id="list_wrap" class="list-wrap">

                <!-- 关键词列表 -->
                <div id="keywords_list" class="keywords-list">
                    <div id="keywords_list_top" class="keywords-list-top">
                    </div>
                    <div id="keywords_table_wrap">
                        <table id="keywords_table" class="keywords-table tbl w100per ">
                            <thead>
                                <tr>
                                    <th>关键词</th>
                                    <th>市场均价(元)</th>
                                    <th>展现指数</th>
                                    <th>点击指数</th>
                                    <th>竞争度</th>
                                    <th>质量分</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 关键词列表 结束 -->
            </div>
        </section>
        <footer>
            <div id="footer" class="footer ff">
                <span>杭州匠心网络科技有限公司&nbsp;保留一切权利</span>
            </div>
        </footer>

        <script type="text/x-jquery-tmpl" id="item_table_tmpl">
            <table class="tbl" id="item_table" >
                <thead>
                    <tr>
                        <th class="w30per h25"><h2>宝贝标题</h2></th>
                        <th><h2>宝贝属性</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="item-title">
                            <div class="mrg1em center" >
                                <div><img src="${pic_url}_210x210.jpg" alt="item's main image" /></div>
                                <div><a href="${detail_url}" />${title}</a></div>
                                <div>￥<strong class="red">${price}</strong></div>
                            </div>
                        </td>
                        <td class="item-properties">
                            <table class="prop-table w100per noborder">
                                <tbody id="props_tbody">
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>
<!--{'$'}-->
        <script type="text/x-jquery-tmpl" id="keyword_template">
            <td>${bidword}</td>
            <td>${avg_price}</td>
            <td>${pv}</td>
            <td>${click}</td>
            <td>${compete}</td>
            <td class="none">${score}</td>
        </script>
        <script type="text/javascript">
            seajs.use('AppView');
        </script>
    </body>
</html>
